:markdown

  ## PRIVACY POLICY

  As your privacy is extremely important to us, we will
  continue to improve our privacy policy with user feedback.


  ### I. What happens to my personal information?

  Any personal information able to identify you
  - your name, address, e-mail, phone number etc.
  is not available to the public unless you choose it to be.

  When you sign up for StockCrunch, we may ask for some
  personal information.



  ### II. To modify and save data

  You have the ability to edit at any time, their
  information.

  You may request deletion of your account by sending an e-mail to:
  <support@stockcrunch.com>

  After deletion of the account any public user-generated content
  may remain in the records of StockCrunch - such as questions,
  answers, comments, topics and articles.



  ### III. Reliability and security

  Access to your personal information is limited to our
  employees, contractors and agents who need to know them
  process them on our behalf and to offer better features
  StockCrunch users of services such as access statistics
  and the like.

  Intermediaries and staff are committed to
  confidentiality obligations provided for by law and
  may be subject to legal penalties if they do not comply with these
  obligations.

  We have resources for physical, electronic and procedural
  personal information.


  ### IV. Changes in Privacy Policy

  StockCrunch may update its privacy policy. If this
  occurs any changes will be publicly displayed here for users.

  IMPORTANT REMINDER: The User understands, acknowledges and agrees that
  StockCrunch may access, preserve or disclose account information
  registration or content of the User in the manner prescribed by
  law. 

  COMMITMENT: StockCrunch does not sell, rent, and will not give or lend
  any personal information from its users to third parties
  EXCEPT when the user himself authorizes.
