%ul.items#external_accounts{:style => 'margin-top: 30px'}
  = render :state => :dac
  = render :state => :facebook
  = render :state => :twitter

%p{:style => 'margin-top: 20px'} Connect to your accounts:

%ul
  %li
    Import a profile picture;
  %li
    Find your friends who are already in StockCrunch;
  %li
    Share things you find interesting (coming soon).
%p
  %strong
    Note: We never put anything in their accounts
    without first you have explicitly requested.
