!!! XML
%OpenSearchDescription
  %ShortName #{AppConfig.application_name}
  %Description Search at #{AppConfig.application_name}
  %Url{"type" => "text/html", "template" => "#{search_url(:q => "")}{searchTerms}"}
