#footer
  %ul
    %li
      = link_to 'Blog', 'http://blog.stockcrunch.com', :target => '_blank'
    %li
      = link_to 'Twitter', 'http://twitter.com/stockcrunch', :target => '_blank'
    %li
      = link_to 'Facebook', 'http://www.facebook.com/stockcrunch', :target => '_blank'
~ AppConfig.conversion_tracking_code if flash[:conversion]
